#include <windows.h>
#ifdef SAT_WINUI_MANIFEST
1 RT_MANIFEST SAT_WINUI_MANIFEST
#else
1 RT_MANIFEST "app.manifest"
#endif
101 ICON "app.ico"
201 RCDATA "Settings.xaml"
1 VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Screen AI Translator\0"
   VALUE "FileVersion", "1.3.0\0"
   VALUE "ProductName", "Screen AI Translator\0"
   VALUE "ProductVersion", "1.3.0\0"
   VALUE "OriginalFilename", "ScreenAITranslator.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
